header{height:1.2rem;line-height:1.2rem;}

.xn-head{position:absolute;width:1.01333rem;text-align: center;font-size:.453333rem;color:#000;
	i{line-height: 1.2rem;font-size: 0.533333rem;}
}

.p-back{line-height: 1.2rem;}

.title{flex:1;text-align: center;font-size:.42667rem;font-weight:700;}


