.footer_f{line-height:1.333333rem;height:1.333333rem;background-color:#fff;color:#ff4747;font-size:.32rem;text-align: left;overflow:hidden;position:relative;z-index:1;padding-left:.533333rem;box-shadow:0 0 0.853333rem 0 rgba(0,0,0,.1);
	.totle-money{font-size:.64rem;padding-right:.266667rem;}
	.deil-money{font-size:.373333rem;}

	.submit{text-align: center;background-color:#ff4747;font-size:.426667rem;color:#fff;width:2.8rem;	}
}
.flex-l{flex:1;}