.login,.register,.changepwd{
    height: 100%;background: url(../../../assets/imgs/login_bg.jpg) 0 0 no-repeat;background-size: 100%;padding: 0 0.426667rem;display: flex;flex-direction: column;position: relative;
    .login_new,.register_new,.changepwd_new{
        background: url(../../../assets/imgs/logo.png) no-repeat center 1.066667rem;height: 3.786667rem;color: #fff;line-height: 4.8rem;font-size: 0.466667rem;overflow: hidden;text-align: center;
    }
    .icon-back{
        position: absolute;left: 0.426667rem;top: 0.666667rem;
        i{font-size: 0.666667rem;color: #fff;}
    }
    .login_main,.register_main,.changepwd_main{
        flex: 1;background: #fff;border-top-left-radius: 0.266667rem;border-top-right-radius: 0.266667rem;display: flex;flex-direction: column;align-items: center;
        .login_main_t,.register_main_t,.changepwd_main_t{
            flex: 1;width: 8.053333rem;padding-top: 0.933333rem;
            .item{
                min-height: 1.626667rem;line-height: 1.6rem;font-size: 0.373333rem;border-bottom: 0.026667rem solid #dcdcdc;
                .icon{
                    margin-left: 0.186667rem;width: 0.88rem;
                    i{font-size: 0.533333rem;}
                }
                .icon-eye{
                    width: 0.666667rem;
                    i{font-size: 0.666667rem;}
                }
                .createCode{
                    width: 2.4rem;height: 0.853333rem;line-height: 0.853333rem;text-decoration: none;color: #e4442f;border: 0.026667rem solid #f1a197;border-radius: 0.133333rem;text-align: center;
                }
                input{font-size: 0.346667rem;height: 1.333333rem;background-color: #FFF;color: #999;}  
            }
            .item:last-child{
                border: 0 none;text-align: center;margin-top: 0.666667rem;justify-content: center;align-items: center;
                button{
                    background-color: #ff4747;border-radius: 0.266667rem;width: 7.733333rem;height: 1.2rem;color: #fff;text-align: center;line-height: 1.2rem;
                }
            }
        }
        .login_main_b,.register_main_b,.changepwd_main_b{
            height: 1.12rem;width: 7.733333rem;display: flex;justify-content: space-between;font-size: 0.346667rem;
            a{font-size: 0.346667rem;}
        }
    }
}