.city{
    display: flex;flex-direction: column;height: 100%;
    .d_header{
        height: 1.386667rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e1e1e1;
        background-color: #fff;
        font-weight: 700;
        font-size: 0.426667rem;

        .d_header_l{
            width: 25%;
            color: #e94f4f;
            white-space: nowrap;
            button{
                width: 1.333333rem;
                height: 1.333333rem;
                background-color: transparent;
                border: 0;
                color: inherit;
                line-height: 1;
                font-size: .56rem;
                i{
                    color: #000;
                    font-size: 0.533333rem;
                }
            }  
        }
        .d_header_r{
            width: 50%;
            // flex: 1;
            text-align: center;
            h1{
                overflow: visible!important;
                font-weight: 700!important;
                color: #333;
                line-height: 1;
                width: auto;
                font-size:0.40625rem;
                // margin-right: 2.109375rem;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    .body{
        flex:1;
        background-color: #f0f0f0;
        height: 100%;
        overflow-y: auto;
        padding-top: .266667rem;
        padding-bottom: 1.333333rem;
        .message_body_t{
            margin-bottom: .4rem;
            border-top: 1px solid #d5d5d5;
            ul{background-color:#fff; 
                .three{
                    display: list-item;justify-content: space-between;
                    .nickname{
                        margin-left: 0.46875rem;
                    }
                }
                li{
                    border-bottom: 1px solid #d5d5d5;
                    display:flex;
                    justify-content:space-between;
                    display: list-item;
                    .bbox{
                        height: 1.6rem;
                        line-height: 1.6rem;
                        display:flex;
                        font-size:0.346667rem;;
                        justify-content:space-between;
                        i{
                            font-size:0.533333rem;
                            margin-left:0.3125rem;
                            margin-right:0.390625rem;
                        }
                        input{
                            flex: 1;
                            margin-right: 0.46875rem;
                        }
                        select{
                            margin-right: 0.46875rem;
                            border: 0 none;

                        }
                    }
                    .sbox{display:flex;
                         height: 1.6rem;
                        line-height: 1.6rem;
                        i{
                            font-size:0.533333rem;
                            // margin-left:0.3125rem;
                            // margin-right:0.390625rem;
                        }
                    }
                    .zhenname{
                        height: 1.6rem;
                        line-height: 1.6rem;
                        font-size:0.346667rem;;
                         margin-right:0.46875rem;
                    }
                    .zhenname1{
                        height: 1.6rem;
                        line-height: 1.6rem;
                        font-size:0.346667rem;;
                    }
                    .selected{color: #333!important;}
                    .genderMan{padding-right: .293333rem;border-right: 1px solid #d5d5d5;height: .64rem;line-height: .64rem;color: #a5a5a5;font-size: 0.346667rem;}
                    .genderWoman{padding-left: .266667rem;padding-right: .133333rem;border: none;}
                }
                .mima{
                    display: none;
                }
                .dizhi{
                    display: none;
                }
            }
        }
    }
    .footer{
        position: fixed;
        bottom: 0;
        height: 1.333333rem;
        width: 100%;
        left: 0;
        a{
            height: 1.333333rem;
            line-height: 1.333333rem;
            text-align: center;
            margin: 0 auto;
            font-size: 0.346667rem;;
            color: #fff;
            background-color: #ec4c33;
            display: block;
        }
    }
}