.menu-shopcar{display:flex;flex-direction:column;user-select:none;}
.child-view{width:100%;height:100%;position:fixed;top:0;left:0;z-index:101;background-color:#fff;}
.select{position:relative;height:2.666667rem;width:100%;overflow:hidden;overflow-x:scroll;background-color:#f4f4f4;
	
	ul{position:relative;padding:.266667rem .133333rem; display:flex;float:left;
		
		li{position:relative;margin:0 .133333rem; width:2.133333rem;height:2.133333rem;background-color:#fff;text-align:center;overflow:hidden;
			
			.icon{position:relative;height:.64rem;margin:.2rem auto .133333rem; overflow:hidden;}
			.name{font-size:.373333rem;color:#333;height:.48rem;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
			.num{font-size:.293333rem; line-height:.64rem;color:#a5a5a5;}
		}
	}
}

.scroller{flex:1; -webkit-box-flex:1; background-color:#f4f4f4;overflow:hidden;overflow-y:auto;}

.pack-list{font-size: 26px;
	dl{padding-bottom:.266667rem;}
	.pack-list-head{background-color:#fff;position:relative;height:1.16rem;line-height: 1.16rem;text-align: center;
		.pack-list-head-bottom{border-bottom:1px solid #e5e5e5;}
		i{position:absolute;top:.1rem;right:.533333rem;font-weight:700;font-size:.373333rem;color:#666;}
	}
	
	.pack-list-item{background-color:#fff;height:2.346657rem;padding:.226667rem .33333rem .226667rem .293333rem;border-bottom:1px solid #e5e5e5;display:flex;align-items:center;
		.item-img{width:1.866667rem;height:1.866667rem;overflow:hidden;}
		.pack-list-item-name{flex:1;-webkit-box-flex:1;padding:0 .133333rem 0 .4rem;
			.item-name{color:#333;font-weight:700;}
			.base-size{color:#666;}
		}
	}
}

.spinner{font-size:.426667rem;line-height:1;display:inline-block;}