.center{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    .bg_img{
        width: 100%;
        display: block;
        vertical-align: top;
        cursor: pointer;
    }
    .user-info{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 99;
        color: #fff;
        .user-head{
            width: 1.866667rem;
            height: 1.866667rem;
            overflow: hidden;
            float: left;
            border-radius: 100%;
            background: #ccc;
            margin-left: .8rem;
            img{
                width: 100%;
                display: block;
                vertical-align: top;
                border-radius: 100%;
                cursor: pointer;
            }
        }
        .user-name{
            margin-left: .32rem;
            float: left;
            line-height: 1.866667rem;
            font-weight: 700;
            font-size: 0.426667rem;
        }
        a{
            float: right;
            margin-right: .533333rem;
            line-height: 1.866667rem;
            display: block;
            color: #e94f4f;
            font-size: 0.373333rem;
            text-decoration: underline;
            button{
                width: 2.666667rem;
                line-height: .64rem;
                border-radius: .133333rem;
                color: #999;
                border: 1px solid #ccc;
                background-color: #fff;
            }
        }
    }
    .member-nav{
        flex: 1;
        overflow: hidden;
        width: 100%;
        height: 1.6rem;
        line-height: 1.6rem;
        position: relative;
        display: block;
        color: #3f3f3f;
        border-bottom: 0.026667rem solid #e5e5e5;
        background-color: #fff;
        padding: 0 .533333rem 0 .4rem;
        .nav-left{
            float: left;
            font-size: .4rem;
            padding-left: .133333rem;
        }
        .nav-right{
            padding-right: .533333rem;
            color: #999696;
            float: right;
            font-size: .346667rem;
            background: url(../../../assets/imgs/xiangyou.png) 100% no-repeat;
            background-size: auto .373333rem;
        }
    }
}